/* Add this to your existing CSS file */

body {
    background: url(https://subtlepatterns.com/patterns/noise_lines.png);
    font-family: 'Pacifico', cursive;
    overflow: hidden;
    color: #fff;
}

.bgoverlay {
    background: rgb(103, 58, 183);
    background: rgba(103, 58, 183, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    position: relative;
    margin: 120px auto 0 auto;
    width: 320px;
}

.ico {
    display: block;
    width: 320px;
    height: 320px;
}

.open .ico {
    animation: open 4s;
    transform: scale(10);
}

.ico .title {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -95px;
    margin-top: -73px;
    z-index: 4;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    color: #fff;
    cursor: pointer;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.open .ico .title {
    opacity: 0;
    transition: all 0.3s ease;
    top: -100px;
}

.ico:before,
.ico:after,
.ico2:before,
.ico2:after {
    position: absolute;
    top: 0;
    left: 0;
}

.ico:before,
.ico:after,
.ico2:before,
.ico2:after {
    display: block;
    font-size: 20em;
    color: #050505;
    content: "\f004";
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico2:before,
.ico2:after {
    color: #e91e63;
}

.ico:before {
    z-index: 3;
}

.ico:after {
    animation: explode 4s infinite;
}

.ico2:before {
    animation: explodeSmall 3s infinite;
}

.ico2:after {
    animation: explodeSmall 2s infinite;
}

/* New style for falling roses */
/* Updated .rose styling for displaying roses */
/* Updated .rose styling for displaying roses */
.css-heartheart {
    position: absolute;
    background-color: rgb(5, 5, 5);
    height: 90px; /* Set the height of the heart */
    width: 90px; /* Set the width of the heart */
    transform: rotate(-45deg);
    animation: heartbeat 9s infinite alternate;
  }


  @keyframes heartbeat {
    to {
      transform: scale(1.2) rotate(-45deg);
      opacity: 0;
    }
  }

  .additional-content {
    display: none; /* Hide the additional content by default */
    text-align: center;
    padding: 20px;
    color: #fff;
}

.additional-header {
    font-size: 24px;
}

.additional-image-container img {
    max-width: 80%;
    height: auto;
    margin-top: 20px;
}

.endtext {
    opacity: 0;
    text-align: center;
    position: absolute;
    top: -100px;
    width: 100%;
}

.open .endtext {
    top: 0;
    opacity: 1;
    animation: show 5s;
}

.endtext .close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.endtext h1,
.endtext h2,
.endtext h3 {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-weight: normal;
}

.endtext h1 {
    font-size: 50px;
}

.endtext h2 {
    font-size: 30px;
}

.endtext h3 {
    font-size: 20px;
}

.endtext button {
    background-color: white;
    color: #f161f6;
    text-align: center;
    margin: 10px;
    padding: 7px;
    width: 80px;
    display: inline-block;
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgb(103, 58, 183);
    border-radius: 40px;
    padding: 20px;
    z-index: 1000;
}

.modal-content {
    text-align: center;
}

#passwordInput {
border-radius: 25px;
border-color: #e91e63;  
margin: 10px;
}

#passwordSubmit {
    border-radius: 15px;
  border-color: rgb(103, 58, 183);
    background-color:#e91e63
}

@keyframes explode {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.6);
        opacity: 0;
    }
}

@keyframes explodeSmall {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes open {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(10);
    }
}

@keyframes show {
    from {
        opacity: 0;
        top: -100px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}
